<!DOCTYPE html>
<html>
    <head>
        <title>App react rails</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= react_component 'NavBar' %>
        <%= yield %>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__social"></div>
                <div class="footer__copy">
                    <p>design by Daregraphics</p>
                </div>
            </div>
        </footer>
    </body>
</html>